<h1>All Repos</h1>

<form action="<%= repositories_path %>">
  <input type="text" placeholder=" RepoName or Description" name="search_key">
  <button type="submit">Search</button>
</form>

<table>
  <tr>
      <th> Id </th>
      <th> Repository Name </th>
      <th> Description </th>
      <th> Full Name </th>
  </tr>
  <tr>
  <% @repo.each do |repo| %>
    <tr>
      <td> <li>
      <a href="<%= repository_path(repo) %>">
        <%= repo.name%>
      </a>
    </li> </td>
    <td> <%= repo.name %> </td>
      <td> <%= repo.description %> </td>
      <td> <%= repo.owner.full_name %> </td>
      
    </tr>
      <% end %>
  </tr>

</table>
