<h3>Id is "<%= @user.id %>" and it is its show page </h3>
       <h3>First Name</h3>
       <%= @user.first_name %> 
       <h3>Last Name</h3>
       <%= @user.last_name %> 
      <h3>Email</h3>
       <%= @user.email %> 
</table>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>

  <li><%= link_to "Destroy", @user, method: :delete,
    data: { confirm: 'Are you sure?' } %></li>
</ul>