<h3>Id is "<%= @user.id %>" and it is its show page </h3>
<table>
  <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email </th>
  </tr>
  <tr>
    <tr>
      <td> <%= @user.first_name %> <td>
      <td> <%= @user.last_name %> <td>
      <td> <%= @user.email %> <td>
    <tr>
  </tr>

</table>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>

  <li><%= link_to "Destroy", @user, method: :delete,
    data: { confirm: 'Are you sure?' } %></li>
</ul>